body {
    background-color: white;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
}

.header-logo a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    flex-shrink: 0;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 18px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 10px 100px;
    align-items: center;
    margin-bottom: 5%;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 0;
}  

.main-content {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px; 
    width: 100px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid;
}

.body1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    padding: 32px;
}

.info-image {
    border: #3882f6 2px solid;
    border-radius: 8px;
}

.body2 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.quote-content {
    max-width: 500px;
    padding: 20px;
    font-size: 36px;
    color: #1f2937;
}

p.quote {
    font-style: italic;
}

p.author {
    text-align: end;
    font-weight: bolder;
}

.body3 {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.sign-up-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    background-color: #3882f6;
    color: #f9faf8;
    width: 800px;
    border-radius: 8px;
}

.sign-up-text {
    margin: 10px 80px
}

.sign-up-button2 {
    border: #f9faf8 2px solid;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    width: 100px;
    margin: 10px 80px;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 10px;
}