body {
    background-color: bisque;
}

.header {
    border: 2px solid;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-evenly;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
}

.body1 {
    border: 2px solid;
    background-color: white;
}

img {
    width: 100px;
    height: 100px;
    border: 2px solid;
}

.body2 {
    border: 2px solid;
    background-color: grey;
}

.body3 {
    border: 2px solid;
    background-color: white;
}

.footer {
    border: 2px solid;
    background-color: cadetblue;
}